/* Visão geral*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}
main {
  color: #0000008c;
  margin-bottom: 60px;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.container-conteudo {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.container-conteudo h2,
.container-conteudo h3 {
  margin: 0;
}

/* Início css topo */
.topo {
  background-color: #00cad1;
  width: 100%;
}
.topo .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 60px;
  padding: 0 10px;
  margin: 0 auto;
}
.topo-titulo {
  font-weight: 600;
  font-size: 28px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topo-titulo a {
  display: flex;
}
.topo-links {
  display: flex;
}
.topo-links a {
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.topo-links a:hover {
  color: #004b4c;
}
.mobile-menu {
  display: none;
  cursor: pointer;
  margin-right: 10px;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
/* Fim css Topo */

#sobre,
#especialidades,
#contato {
  padding: 40px 20px 0;
}

.box-visao-geral {
  /* position: relative;*/
  background-image: url("/Assets/recepcao.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}
.box-visao-geral-titulo {
  height: 100%;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}
.box-visao-geral h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 38px;
  margin: 0;
}
.box-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-sobre h3 {
  font-weight: 500;
  text-transform: uppercase;
}
.box-sobre img {
  height: 250px;
}
.box-especialidades {
  display: flex;
  flex-wrap: wrap;
}
.box-especialidade {
  border-radius: 3px;
  box-shadow: 0px 1px 10px rgb(0 0 0 / 50%);
  margin: 20px;
  width: calc(100% / 3 - 40px);
}
.box-especialidade img {
  width: 100%;
}
.box-especialidade figcaption {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}
.box-link-horarios {
  text-align: center;
  margin-top: 20px;
}
.link-horarios {
  background-color: #00cad1;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 3px;
}
/* Inicio css Rodapé*/
footer {
  background-color: #0d6e71;
  color: #fff;
  padding: 20px;
}

footer .container {
  text-align: center;
}
/*Fim css Rodapé*/

/* Media Quaries */
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .topo-links {
    position: absolute;
    top: 11vh;
    right: 0;
    width: 40vw;
    height: 92vh;
    background: #00cad1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .topo-links a {
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
  .topo-links.active {
    transform: translateX(0);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
@media (max-width: 420px) {
  /* .topo .container {
    flex-direction: column;
  }*/
  .topo-links {
    justify-content: space-around;
    width: 100%;
  }
  .topo-titulo {
    margin: 10px 0;
  }
  .box-visao-geral {
    height: 200px;
  }
  .box-visao-geral h1 {
    font-size: 28px;
  }
  .box-especialidade {
    width: 100%;
  }
  .box-sobre img {
    display: none;
  }
}
@media (max-width: 768px) and (min-width: 420px) {
  .box-visao-geral {
    height: 300px;
  }
  .box-sobre img {
    display: none;
  }
  .box-especialidade {
    width: calc(100% / 2 - 40px);
  }
  .box-especialidades {
    justify-content: center;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .box-visao-geral {
    height: 400px;
  }
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
